/**
 * ANU CECS theme for reveal.hs by Ben Swift
 *
 * Based on heavily modified version of the "Black" theme by Hakim El Hattab, http://hakim.se
 */

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,700,300italic,500italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500);

// Override theme settings (see ../template/settings.scss)
$anuWhite: #FFF;
$anuGrey: #262626;
$anuGreen: #4C6E78;
$anuCecsRed: #960022;

$linkColor: lighten( $anuGreen, 20% );
$linkColorHover: lighten( $linkColor, 10% );
$selectionBackgroundColor: lighten( $linkColor, 10% );
$sidePadding: 5%;

// theme
.reveal {
    // globals
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    background-color: $anuWhite;
    color: $anuGrey;
    line-height: 1.5;

    .slides {
        text-align: left;
        padding: 0 $sidePadding 0 $sidePadding;
    }

    // titlecard level
    .level1 h1 {
        margin: "auto";
        width: 90%;
        font-size: 3em;
        font-weight: 500;
        text-align: center;
    }

    // slide level
    .level2 h2 {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        font-size: 2.5em;
        font-weight: 500;
        text-align: left;
        padding: 0 $sidePadding 0 $sidePadding;
        color: $anuWhite;
        background-color: $anuGrey;
    }

    // source code
    code {
        font-family: 'Source Code Pro', monospace;
        padding: 0.2em;
        margin: 0;
        font-size: 1.2em;
        background-color: #ddd;
        border-radius: 0px;
        box-sizing: border-box;
    }

    pre {
        text-align: left;
    }
}
